@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", "sans-serif";
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem 3rem 5rem;
    border-radius: 1rem;
    border: 1px solid #747474;
    gap: 1rem;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

a {
    padding: 12px 17px 12px 17px;
    border-radius: 9999px;
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

a:hover {
    background-color: rgb(80, 80, 80);
}

h1 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.section-names {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-names input {
    width: 20rem;
    font-size: 16px;
    padding: 6px 0 6px 10px;
}

.section-date-of-birth {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.section-date-of-birth p {
    font-size: 18px;
}

.section-university {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.section-university select {
    width: 80%;
    padding: 6px 0 6px 4px;
}

.section-technologies span,
.section-university span {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(222, 221, 221);
    cursor: pointer;
}

.section-technologies {
    width: 20rem;
    display: flex;
}

#technologies {
    width: 10rem;
}

#technologies option {
    padding: 5px;
}

.section-technologies span {
    margin-left: 1rem;
}

.section-button {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#add-technology-popup span,
#add-university-popup span,
.section-button button {
    padding: 12px 17px 12px 17px;
    border-radius: 9999px;
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    font-family: "Montserrat", "sans-serif";
}

#add-technology-popup span:hover,
#add-university-popup span:hover,
.section-button button:hover {
    background-color: rgb(80, 80, 80);
}

#add-technology,
#add-university {
    position: relative;
}

#add-technology-popup,
#add-university-popup {
    width: 25rem;
    top: 32rem;
    right: 18rem;
    border: 1px solid #747474;
    border-radius: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    gap: 1rem;
}

#add-university-popup {
    top: 16rem;
}

#add-technology-popup input,
#add-university-popup input {
    width: 100%;
    font-size: 12px;
    padding: 6px 0 6px 10px;
    outline: none;
}

#add-technology-popup p,
#add-university-popup p {
    font-size: 14px;
}

#add-technology-popup span,
#add-university-popup span {
    width: 30%;
    align-self: flex-end;
    font-size: 14px;
}